/* textarea Style */
.prescreen-input {
	padding: 5px;
	border-radius: 5px;
	width: 80%;
	margin: 5px;
	max-width: 400px;
	height: 200px;
	border: 25px solid grey;
}

#prescreen-output {
	padding: 5px;
	border-radius: 5px;
	width: 80%;
	margin: 5px;
	max-width: 400px;
	height: 150px;
	border: 15px solid grey;
	text-align: left;
}

.btn-space {
    margin-right: 5px;
    margin-bottom: 5px;
}